@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">ยืนยันออเดอร์สำเร็จ!</h1>
        สินค้าอยู่ในขั้นตอนการจัดส่ง <br /><br />
        <img src="~/images/ordershipped.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        หมายเลขออเดอร์ : @Model 
         <br />
    </div>
</div> 